@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .uwis {
    text-wrap: balance;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.categoryselector {
  position: relative
}

.categoryselector:after {
  content: '\02C5';
  font: normal normal normal 17px/1 FontAwesome;
  color: #1F443D;
  right: 4px;
  font-weight: 600;
  font-size: 16px;
  top: 7px;
  height: 34px;
  padding: 15px 0px 0px 8px;
  border: none;
  position: absolute;
  pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.categoryselector select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
/* Add some styling */

display: block;
width: 100%;
max-width: 200px;
height: 50px;
float: right;
margin: 5px 0px;
padding: 0px 20px;
font-size: 18px;
text-align: center;
line-height: 1.75;
color: #1F443D;
background-color: transparent;
background-image: none;
border: none;
-ms-word-break: normal;
word-break: normal;
}

.cartenter {
  animation: enterRight 0.5s ease-in-out forwards;
}
.cartleave {
  animation: leaveRight 0.5s ease-in-out forwards;
}
.enterUp {
  animation: enterUp 0.7s ease-in-out forwards;
}
.enterRight {
    animation: enterRight 0.5s ease-in-out forwards;
}
.enterIn {
  animation: enterIn 0.2s ease-in-out forwards;
}
.leaveOut {
  animation: leaveOut 0.1s ease-in-out forwards;
}
.leaveRight {
    animation: leaveRight 0.5s ease-in-out forwards;
}
.leaveLeft {
    animation: leaveLeft 0.6s ease-in-out forwards;
}
.zoomIn {
  animation: zoomIn 0.2s ease-in-out forwards;
}
.zoomOut {
  animation: zoomOut 0.3s ease-in-out forwards;
}
form.visible-3oS3IS.svelte-cq90g3 {
  background-color: #f5f7f4 !important;
}
.row-dOpyEt.margin-top-3G8ko4.svelte-f1k4kg {
  display:flex;
  justify-content: center;
  align-items: center;

}
.cart-added {
  visibility: hidden;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
@keyframes enterRight {
  0% {
    opacity:0;
    transform: translateX(110%);
  }
  100% {
    opacity:1;
    transform: translateX(0);
  }
}
@keyframes leaveRight {
  0% {
   
    transform: translateX(0);
  }
  100% {
    
    transform: translateX(110%);
  }
}
@keyframes leaveLeft {
    0% {
        opacity:1;
      transform: translateX(0);
    }
    100% {
        opacity: 0;
      transform: translateX(-110%);
    }
  }
@keyframes enterUp {
  0% {
    opacity: 0;
    transform: translateY(110%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes enterIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes leaveOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

